.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f97316; /* Default cursor color */
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: background-color 0.2s ease;
  z-index: 9999;
}

.custom-cursor.hovered {
  background-color: rgba(109, 212, 147, 0.8); /* Change color when hovering */
}
